

body {
    background-color: gainsboro;
    padding-bottom: 50px;
}

a.navbar-brand i {
    background-color: white;
    border-radius: 2px;
    padding: 4px;
    color: #007bff;
    font-size: 1.5em;
    margin-right: 10px;
}
a.navbar-brand span {
    color: white;
}

label {
    text-transform: capitalize;
}

h1.titol-vista{
    font-size: 30px;
    margin: 25px 0;
    text-transform: capitalize;
}

i.blue-icon {
    color: #007bff;
}


i.red-icon {
    color: red;
}

i.clicable {
    cursor: pointer;
}